.container{
    width: 100%;
    height: auto;
    padding-top: 60px;
}

.innerContainer{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.loginContainer{
    width: 100%;
    height: 100%;
}

.welcomeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeInnerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomeText1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: rgb(13, 15, 17);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
    margin-bottom: 0;
}
.welcomeText2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(87, 82, 82);
    text-align: center;
    margin-top: 0;
}
.welcomeText3{
    font-size: 18px;
    color: rgb(2, 46, 24);
    font-weight: 600;
    text-align: center;
    padding: 0 50px;
}

@media screen and (max-width: 940px) {
  .innerContainer{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginContainer{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
    border-right: none;
}

.welcomeContainer{
    width: 100%;
    height: 100%;
}
}